<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <img src="images/chevron.svg" class="icon collapsible__chevron" alt="" />
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A magni quod culpa
    voluptates? Ratione vitae suscipit quidem voluptatem fugiat tempora. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. A magni quod culpa
    voluptates? Ratione vitae suscipit quidem voluptatem fugiat tempora. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. A magni quod culpa
    voluptates? Ratione vitae suscipit quidem voluptatem fugiat tempora. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. A magni quod culpa
    voluptates? Ratione vitae suscipit quidem voluptatem fugiat tempora.
  </div>
</div>
