<footer class="footer">
  <div class="container container--footer">
    <!-- Products -->
    <article class="collapsible footer_item">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">PRODUTCS</h2>
        <img
          src="images/chevron.svg"
          class="icon collapsible__chevron footer__chevron"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">WordPress Hosting</a></li>
          <li><a href="#">Free Automated WordPress</a></li>
          <li><a href="#">Migrations</a></li>
          <li><a href="#">Domain Names</a></li>
          <li><a href="#">Monthly Web Hosting</a></li>
        </ul>
      </div>
    </article>
    <!-- Company -->
    <article class="collapsible footer_item">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">COMPANY</h2>
        <img
          src="images/chevron.svg"
          class="icon collapsible__chevron footer__chevron"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">About</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Community</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Green Hosting</a></li>
        </ul>
      </div>
    </article>
    <!-- Support -->
    <article class="collapsible footer_item">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
        <img
          src="images/chevron.svg"
          class="icon collapsible__chevron footer__chevron"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowkedge Base</a></li>
          <li><a href="#">Forums</a></li>
          <li><a href="#">System Status</a></li>
          <li><a href="#">Web Hosting</a></li>
          <li><a href="#">DreanCompute</a></li>
        </ul>
      </div>
    </article>
    <!-- Domains -->
    <article class="collapsible footer_item">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">COMAINS</h2>
        <img
          src="images/chevron.svg"
          class="icon collapsible__chevron footer__chevron"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">DOmain Checker</a></li>
          <li><a href="#">Domain Transfer</a></li>
          <li><a href="#">Free Domain</a></li>
          <li><a href="#">XYZ Domain</a></li>
          <li><a href="#">Cheap SSL Certificate</a></li>
        </ul>
      </div>
    </article>
    <!-- logo -->
    <div class="footer__logo">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright-text">Copyright &copy; 2023 Hosting</p>
    </div>
  </div>
</footer>
